<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg"> 
    </ion-avatar>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card >
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start"></div>
      <ion-label>
        <strong>Edit Profil</strong>
        <br>
        <ion-text>Pengaturan Profil</ion-text><br/>
        <ion-note color="medium" class="ion-text-wrap">Ubah Data Diri Anda</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>  
  </ion-card>
  <ion-card >
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start"></div>
      <ion-label>
        <strong>Akun</strong>
        <br>
        <ion-text>Ubah Kata Sandi</ion-text><br/>
        <ion-note color="medium" class="ion-text-wrap">Ubah password akun anda</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>  
  </ion-card>
  <ion-card>
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start"></div>
      <ion-label>
        <strong>Transaksi</strong>
        <br>
        <ion-text>Paket Langganan</ion-text><br/>
        <ion-note color="medium" class="ion-text-wrap">Ubah password akun anda</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item> 
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start"></div>
      <ion-label>
        <ion-text>Riwayat Buku</ion-text><br/>
        <ion-note color="medium" class="ion-text-wrap">Ubah password akun anda</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start"></div>
      <ion-label>
        <img src="https://cdn-icons-png.flaticon.com/128/671/671829.png" alt="" style="width: 50px; height: 50px;">
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>  
  </ion-card>
  <ion-card>
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start"></div>
      <ion-label>
        <img src="https://cdn-icons-png.flaticon.com/512/3145/3145765.png" alt="" style="width: 40px; height: 35px;">
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>  
  </ion-card>

</ion-content>
<div class="triangle-right"></div>