<ion-header>
  <ion-toolbar>
    <ion-title>Perpustakaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<ion-segment value="custom">
  <ion-segment-button value="custom">
    <ion-label>Koleksi saya</ion-label>
  </ion-segment-button>
  <ion-segment-button value="segment">
    <ion-label>Langganan</ion-label>
  </ion-segment-button>
</ion-segment>
</ion-content>