<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/imgs/buku.png" class="logo" height="150px" alt="gambar"/>
    <ion-card-header>
      <ion-card-subtitle>Create Your Account</ion-card-subtitle>
      <ion-card-title>Sign up</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-input label="Emai" label-placement="floating" fill="solid" placeholder="Masukan Email"></ion-input>

      <br />
      
      <ion-input type="password" class="round-input" label="Password" label-placement="floating" fill="outline" placeholder="Masukan Password"></ion-input> <br>
      <ion-button expand= block shape="round">Daftar</ion-button>
      <ion-button expand= block shape="round" routerLink="/login">Back</ion-button>
     </ion-card-content>  
    </ion-card>

</ion-content>

