<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>RAKBUKU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list [inset]="true">
        <ion-item [button]="true">
          <ion-icon
            color="danger"
            slot="start"
            name="home"
            size="large"
          ></ion-icon>
          <ion-router-link routerLink="/home">
            <ion-label>Beranda</ion-label>
          </ion-router-link>
        </ion-item>
        <ion-item [button]="true">
          <ion-icon
            color="tertiary"
            slot="start"
            name="book"
            size="large"
          ></ion-icon>
          <ion-router-link routerLink="/perpustakaan">
            <ion-label>Perpustakaan</ion-label>
          </ion-router-link>
          
        </ion-item>
        <ion-item [button]="true">
          <ion-icon
            color="success"
            slot="start"
            name="list"
            size="large"
          ></ion-icon>
          <ion-router-link routerLink="/kategori">
            <ion-label>kategori</ion-label>
          </ion-router-link>
         
        </ion-item>
        <ion-item [button]="true">
          <ion-icon
            color="warning"
            slot="start"
            name="person"
            size="large"
          ></ion-icon>
          <ion-router-link routerLink="/profil">
            <ion-label>Profile</ion-label>
          </ion-router-link>
          
        </ion-item>
        <ion-item [button]="true">
          <ion-icon
            color="medium"
            slot="start"
            name="settings"
            size="large"
          ></ion-icon>
          <ion-label>Pengaturan</ion-label>
         
        </ion-item>
        <ion-button class="round-button">Keluar</ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>RAKBUKU</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="ion-padding"> <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
   <h1>BUKU POPULER</h1> 
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    <h1>MAJALAH POPULER</h1>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    <h1>KEAGAMAAN</h1>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    <h1>NOVEL</h1>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  
  </ion-content>
  </div>